html,
body {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 112.5%;
    font-smooth: never;
    -webkit-font-smoothing: none;
    background-color: #000577;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: underline;
}

.content {
    width: 960px;
}
